*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3% 5%;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-logo h3 {
    color: #2F2F2F;
    font-family: Mulish;
    font-size: clamp(0.7rem, 1.4vw, 9rem);
    font-weight: bold;
    cursor: default;
}
.header-logo img {
    max-height: clamp(1.5rem, 1.8vw, 15rem);
    pointer-events: none;
}
.header-menu {
    display: flex;
    justify-content: center;
    gap: 24%;
    padding-right: 120px;
}
.header-menu a {
    text-decoration: none;
    color: #2F2F2F;
    font-family: Mulish;
    font-size: clamp(0.7rem, 1vw, 9rem);
    font-weight: 600;
}

.menu-option .menu-01 {
    color: #5236FF;
}
.menu-option {
    display: flex;
    align-items: center;
}
.menu-option div {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.menu-optionIMG img {
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
    height: clamp(0.63rem, 0.6vw, 1.65rem);
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-rightMarket {
    display: flex;
    justify-content: center;
    background-color: #5956E9;
    cursor: pointer;
    align-items: center;
    border-radius: 4vh;
    padding: clamp(0.8rem, 1vw, 15rem);
    border: none;
}
.header-rightMarket img {
    height: 1vw;
    pointer-events: none;
}
.header-right button {
    background: none;
    border-radius: 10vw;
    border: 1px solid #7d7c7c;
    height: 3vw;
    width: 6.5vw;
    font-size: clamp(0.5rem, 1vw, 4rem);
    cursor: pointer;
}
.mover_mija{
    padding: 0 5%;
}
.fondo_fondo{
    background-image: url(img-1/image-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    
    
}
.descripcion_parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vw;
}
.modificar_color{
    color: white;
    font-size: 2vw;
}
.modificar_p{
    color: rgba(255, 255, 255, 0.874);
    text-align: center;
    font-size: 1.2vw;
}
.area_trabajo{
    display: flex;
    justify-content: center;
    padding: 5vw;
}
.area_img{
    height: 30vw;
}
.area_laboral{
    display: flex;
    gap: 2vw;
    padding: 1vw 0;
}
.area_texto{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 0;
}
.area_texto h2{
    color: #2F2F2F;
    font-size: 2vw;
}
.area_texto p{
  color: rgba(0, 0, 0, 0.634);
  font-size: 1.2vw;
}
.descripcion_configu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.componer_parrafos{
    flex-direction: column;
}
.componer_parrafos h4{
    color: #2F2F2F;
    font-size: 1.5vw;
}
.componer_parrafos p{
    font-size: 1.2vw;
}
.descripcion_img img{
    height: 5vw;
}
.button_laboral{
    display: flex;
    align-items: center;
    padding: 1vw 0;
}
.boton_area{
   
    border-radius: 8vw;
    align-items: center;
    padding: 1vw 2vw;
    border: none;
    background-color:#2F2F2F;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
}
.catalogos_descrip{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogos_descrip h1{
    font-size: 2vw;
}
.catalogos_titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.catalogos_pre{
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 60px;
}
.catalogos_pecio{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.catalogos_pecio h2{
    color: #5236FF;
    font-size: 2vw;
}
.catalogos_pecio p{
 font-size: 1.2vw;
}
.mision_laboral{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mision_titulo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mision_titulo h1 {
    font-size: 2vw;
}
.mision_titulo p{
    font-size: 1.2vw;
}
.tick_infor{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tick_nuevo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tick_nuevo img{
    height: 2vw;
}
.img_mision{
  display: flex;
  gap: 30px;
}
.img_trabaja{
    height: 18vw;
}
.erro_mijo{
    text-align: center;
    padding: 5vw;
    font-size: 2vw;
}
.tarjetas_present{
    display: flex;
    justify-content: center;
    padding: 5vw;
}
.tarjetas_cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2vw;

}
.cards_present{
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}
.cards_present h3{
    font-size: 2vw;
}
.cards_present p{
  font-size: 1.2vw;
}
.cards_present--borde{
    border: 2px solid #CFCFCF;
    border-radius: 2vw;
    
}
.cards_present img{
    height: 5vw;
}
.fondo_tarje{
    padding: 5vw 0;
}
.fondo_tarjetas{
    background-image: url(img-1/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98.3vw;
}
.fondo_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    gap: 468px;
}

.fondo_titulo h2{
  color: white;
  font-size: 2vw;
}
.fondo_titulo p{
    color: rgba(255, 255, 255, 0.785);
    font-size: 1.3vw;
}
.boton_area--color{
    background-color: #CFCFCF;
    color: black;
}
.fondo_centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    gap: 30px;
    padding-bottom: 70px;
}
.fondo_centrado h4{
    font-size: 2vw;
}
.fondo_centrado p{
    font-size: 1.2vw;
}
.img_person {
    height: 24vw;
}

.fondo_images{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   color: white;
}
.logiar_img img {
  height: 1vw;
  padding: 0 1vw;
  cursor: pointer;
}
.our_titulo{
    text-align: center;
    padding: 5vw;
    font-size: 2vw;
}
.our_present{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.our_tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.our_cards{
    background-color:#CFCFCF;
    border-radius: 2vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px;
    gap: 10px;
}
.our_cards{
    font-size: 1.2vw;
}
.our_cards img{
    height: 2vw;
}
.img_rayita{
    text-align: center;
}
.img_rayita img {
    width: 94vw;
    padding: 2vw 3vw;
}
.logo_final{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo_titulo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo_titulo{
    font-size: 1.2vw;
}
.logo_final img {
    max-height: clamp(1.5rem, 1.8vw, 15rem);
    pointer-events: none;
}
.boton_area--ancho{
    padding: 1vw 3vw;
    background-color: white;
    border: 1px solid #CFCFCF;
    color: rgba(0, 0, 0, 0.801);
    border-radius: 5vw;
    font-size: 1vw;
    cursor: pointer;
}
.boton_area--color{
    background-color:#7d7c7c;
    border: none;
    color: white;
}
a{
    text-decoration: none;
    color: #7d7c7c;
}
.resour_enlaces{
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 28px
}
.enlaces_nav{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 10px;
    font-size: 1vw;
}
.grid_central{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}
.resour_viajar{
    display: flex;
    flex-direction: column;
}
.popular_central{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 30px;
 padding: 1vw 2vw;
}
.popular_present{
    background-color: #2F2F2F;
    border-radius: 20px;
}
.popular_mija{
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.popular_mija img{
    height: 2.5vw;
    cursor: pointer;
}
.popular_mija h2{
  color: white;
}
span{
   color: #38D4FF;
}
.popular_check p{
    color: white;
}
.popular_check{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2vw;
}
.popular_check img{
    height: 1vw;
}
.final_encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.final_descrip{
    font-size: 1vw;
}
.final_encabezado img{
    padding: 0 8px;
    height: 1.5vw;
}
.final_color{
    color: black;
}
.resour_titulo{
    font-size: 1.2vw;
}
.boton_mijo{
    padding: 1vw 2vw;
}
.peso_mijo{
    font-size: 2.5vw;
}
.popular_mija h2{
  font-size: 1.5vw;
}
