.article-panel {
    width: 14.5vw;
    
}
.articlesHeader {
    display: flex;
    justify-content: space-around;
    padding: 0 20.5vw;
    padding-top: 7.5vw;
}
.articleTitle {
    font-size: 1.5vw;
    font-weight: 900;
}
.articlesSubTitle {
    font-size: 0.8vw;
    color: #808080;
}
.articlesHeader button {
    border: none;
    height: 2.5vw;
    width: 8.5vw;
    border-radius: 3vw;
    background: white;
    border: 1px solid #808080;
    cursor: pointer;
}
.article-panelHeader-left {
    background: url(../img/article-social-media.png) rgb(34, 34, 34) 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.5vw;
    width: 14.8vw;
    border-radius: 0.7vw;
    display: flex;
    padding-top: 9.4vw;
    padding-left: 0.4vw;
    gap: 0.5vw;
}
.article-panelHeader-center {
    background: url(../img/article-digital-platform.png) rgb(34, 34, 34) 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.5vw;
    width: 14.8vw;
    border-radius: 0.7vw;
    display: flex;
    padding-top: 9.4vw;
    padding-left: 0.4vw;
    gap: 0.5vw;
}
.article-panelHeader-right {
    background: url(../img/article-goal-acheive.png) rgb(34, 34, 34) 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.5vw;
    width: 14.8vw;
    border-radius: 0.7vw;
    display: flex;
    padding-top: 9.4vw;
    padding-left: 0.4vw;
    gap: 0.5vw;
}
.article-panelHeader-leftSecond {
    background: url(../img/article-holidays\ \(1\).png);
    background-size: cover;
}
.article-panelHeader-centerSecond {
    background: url(../img/article-instagram.png);
    background-size: cover;
}
.article-panelHeader-rightSecond {
    background: url(../img/artitcle-artificialIntelligence.png);
    background-size: cover;
}
.article-panelHeader-left button,
.article-panelHeader-center button,
.article-panelHeader-right button {
    border: none;
    border-radius: 1.2vw;
    height: 2vw;
    width: 5.3vw;
    font-size: 0.8vw;
    background-color: white;
    cursor: pointer;
}
.article-panelsubHeader {
    font-size: 0.8vw;
    display: flex;
    justify-content: space-between;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    cursor: default;
}
.title-bottom {
    font-size: 1vw;
    font-weight: bold;
    padding-top: 0.8vw;    
    padding-bottom: 0.8vw;
    cursor: default;
}
.content-main {
    font-size: 0.65vw;
    padding-bottom: 0.7vw;
    cursor: default;
}
.content-viewmore {
    font-size: 0.9vw;
    font-weight: bold;
    cursor: pointer;
}
.homepage-articlePanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0vw 30vw 0vw 25.5vw;
    padding-top: 2vw;
    padding-bottom: 10vw;
    gap: 2vw;
}
/* ---------------- Blog Footer --------------- */
.input-boton-footer {
    position: relative;
}
.input-boton-footer input {
    padding: 1.2vw;
    height: 3.5vw;
    width: 21vw;
    border: none;
    border: 1px solid;
    border-radius: 2vw;
    font-size: 0.9vw;
}
.input-boton-footer button {
    border: none;
    position: absolute;
    background-color: #2F2F2F;
    color:white;
    height: 2.8vw;
    width:6vw;
    border-radius: 2vw;
    cursor: pointer;
    left: 29.6vh;
    bottom: 0.6vh;
    font-size: 0.9vw;
}
.input-boton-footer input::placeholder {
    font-size: 0.9vw;
}
.homepage-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 9vw;
}
.bottom-footer-container {
    display: flex;
    background: #2819ff;
    width: 69vw;
    height: 27vw;
    border-radius: 0.5vw;
    background-image: url(../img/footer-background-left.png), url(../img/footer-secondBackgroud-right.png);
    background-size: 59% 100%, 66% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    background-blend-mode: hard-light;
}
.footer-title {
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    padding-bottom: 1vw;
}
.footer-subtitle {
    color: white;
    font-size: 0.95vw;
    padding-bottom: 1vw;
}
.container-down-radius p {
    font-size: 0.9vw;
    color: white;
}
.container-down-radius img {
    height: 1.2vw;
    align-items: center;
    pointer-events: none;
}
.footer-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vw;
    padding-left: 3vw;
}
.footer-container-down {
    display: flex;
    gap: 1.5vw;
}
.container-down-radius{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding-top: 1.8vw;
}
.footer-container-right img {
    height: 38vw;
    position: relative;
    bottom: 4.3vw;
}
